* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #ed2c2c;
}

header {
    background-color: #d9d9d9;
    width: 100vw;
    height: calc(50 / 1117 * 100vh);
}

main {
    display: flex;
    flex-direction: row;
    background-color: green;
    width: 100vw;
    height: calc(956 / 1117 * 100vh);
}
    .boxleft {
        background-color: #a5a5a5;
        width: calc(498 / 1728 * 100vw);
        height: calc(956 / 1117 * 100vh);
    }
    .boxright {
        background-color: #d9d9d9;
        width: calc(702 / 1728 * 100vw);
        height: calc(956 / 1117 * 100vh);
    }
    .boxtop{
        background-color: #807b7b;
        width: calc(702 / 1728 * 100vw);
        height: calc(478 / 1117 * 100vh);
    }
    .boxbottom {
        background-color: #6c6262;
        width: calc(702 / 1728 * 100vw);
        height: calc(478 / 1117 * 100vh);
    }
main section {
    background-color: #c1c1c1;
    width: calc(528 / 1728 * 100vw);
    height: calc(956 / 1117 * 100vh);
}

main aside {
    display: flex;
    flex-direction: column;
    background-color: orange;
    /*width: calc(702 / 1728 * 100vw);*/
    /*height: calc(823 / 1117 * 100vh);*/
}

footer {
    background-color: #d9d9d9;
    width: 100vw;
    height: calc(111 / 1117 * 100vh);
}