*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #4dd54d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #d9d9d9;
    width: 100vw;
    height: calc(244*100vh/ 1117);
}
main{
    background-color: #fca5a5;
    height: calc(629*100vh/ 1117);
    display: flex;
    flex-direction: row;
    min-width: 100vh;
}
main aside{
    background-color: #c0bebe;
    width: calc(464*100vw/ 1728);
    height: calc(100vh - 488*100vh/ 1117);
}
main section{
    background-color: #a5a5a5;
    width: calc(100vw - 928*100vw/ 1728);
    height: calc(100vh - 488*100vh/ 1117)
}
footer{
    background-color: #d9d9d9;
    width: 100vw;
    height: calc(244*100vh/ 1117);
}
