*{
    margin: 0;
    padding: 0;
   }
div{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr ;
    grid-template-rows: 1fr 8.9fr 7.6fr 2.2fr 2.7fr;
    grid-template-areas:
    "header header"
    "main spam1"
    "main spam2"
    "section section"
    "footer footer";
}
header{
    grid-area: header;
    background-color: #d9d9d9;
}
main{
    grid-area: main;
    background-color: #a5a5a5;
}
.spam1{
    grid-area: spam1;
    background-color: #807b7b;
}
.spam2{
    grid-area: spam2;
    background-color: #625151;
}
section{
    grid-area: section;
    background-color: #d9d9d9;
}
footer{
    grid-area: footer;
    background-color: #b0aaaa;
}